<div class="home">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <div class="container-lineit">
            <img class="lineit-logo" src="img/lineit-t.png" />
          </div>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <div class="conteudo">
            <h3 class="texto">Plataforma de organização de filas de atendimento</h3>
          </div>
          <div class="conteudo">
            <div class="botao" @click="$root.$router.push({name: 'activate-box-medico'});">
              INICIAR
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <rodape></rodape>
</div>
