<div class="">
	<div v-if="carregando">
		<div class="mdc-layout-grid">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
				<div class="mdc-card">
					<section class="mdc-card__primary">
						<h1 class="mdc-card__title mdc-card__title--large">Carregando...</h1>
					</section>
					<section class="mdc-card__supporting-text">
						<figure class="linear-progress-demo">
			        <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
			          <div class="mdc-linear-progress__buffering-dots"></div>
			          <div class="mdc-linear-progress__buffer"></div>
			          <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
			            <span class="mdc-linear-progress__bar-inner"></span>
			          </div>
			          <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
			            <span class="mdc-linear-progress__bar-inner"></span>
			          </div>
			        </div>
			      </figure>
					</section>
				</div>
			</div>
		</div>
	</div>

	<div v-else-if="tem_acesso">
		<div class="mdc-layout-grid">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
				<div class="mdc-card">
					<section class="mdc-card__primary">
						<h1 class="mdc-card__title mdc-card__title--large">Selecione uma clínica</h1>
					</section>
					<section class="mdc-card__supporting-text">
						<div class="mdc-form-field">
							<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
								<input id="nome_filter" type="text" class="mdc-textfield__input"
								v-model="nome_filter" @input="filter($event)" @keydown.enter="filter($event)">
								<label for="nome_filter" class="mdc-textfield__label">
									Nome
								</label>
							</div>
						</div>
						<button type="submit" class="mdc-button mdc-button--compact mdc-card__action dark-theme" v-on:click="filter($event)">
							Filtrar
						</button>
					</section>
				</div>
			</div>
		</div>

		<div v-if="list_clinicas.length > 0" class="mdc-layout-grid">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
				<ul class="mdc-list mdc-list--two-line mdc-list--dense list-border">
					<li v-for="clinica in list_clinicas" class="mdc-list-item">
						<span class="mdc-list-item__text">{{clinica.fields.nome}}
							<span class="mdc-list-item__text__secondary limit-chars">
								{{clinica.fields.email}}
							</span>
						</span>
						<span class="to-end-list">
							<!-- <button class="mdc-button mdc-button--compact"
							@click="check($event, clinica)">Checar</button> -->
							<i class="material-icons" @click="check($event, clinica)">arrow_forward</i>
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div v-else class="mdc-layout-grid">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6" style="text-align: center;">
				Uso o campo de pesquisa para filtrar
			</div>
		</div>
	</div>

	<div v-else class="mdc-layout-grid">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"></div>
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
			<div class="mdc-card">

				<section class="mdc-card__primary">
					<h1 class="mdc-card__title mdc-card__title--large">Ativação de Box Médico</h1>
					<h2 class="mdc-card__subtitle">Formulário de ativação de Boxes Médicos</h2>
				</section>
				<section class="mdc-card__supporting-text">
					<form action="#">
						<div>
							<div class="mdc-form-field">
								<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
									<input id="chave" type="text" class="mdc-textfield__input" v-model="chave">
									<label for="chave" class="mdc-textfield__label">
										Chave de acesso
									</label>
								</div>
							</div>
							<br>

							<div class="mdc-form-field">
								<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
									<input id="email" type="text" class="mdc-textfield__input" v-model="email">
									<label for="email" class="mdc-textfield__label">
										Email
									</label>
								</div>
							</div>
							<br>

							<!-- <div class="mdc-form-field">
								<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
									<input id="ip" type="text" class="mdc-textfield__input" disabled v-model="$root.user.local_ip">
									<label for="ip" class="mdc-textfield__label">
										IP da máquina
									</label>
								</div>
							</div> -->
						</div>
					</form>
				</section>
				<section class="mdc-card__actions mdc-card__actions--vertical" dir="rtl">
					<button type="submit" class="mdc-button mdc-button--compact mdc-card__action dark-theme" v-on:click="activate($event)">
						Ativar Box Médico
					</button>
				</section>
			</div>
		</div>
	</div>
</div>
